@import "./utils/vars";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./base/reset";
@import "./base/container";
@import "./components/advantages";
@import "./components/clients";
@import "./components/effect";
@import "./components/footer";
@import "./components/header";
@import "./components/portfolio";
@import "./components/portfoliobuttons";
@import "./components/team";
@import "./components/work.scss";
@import "./components/modal";
@import "./components/mobile-menu";
