

.nav-ul {
    display: flex;
    list-style: none;
    margin-right: 344px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.qwe {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-a {
    margin-right: 92px;
}

.nav-li {
    margin-left: 50px;
    margin-right: 50px;
}
.advantages-ul{
    display: flex;
    list-style: none;
}
.advantages-li:not(:last-child){
    margin-right: 30px;
}
.hero{
    padding-top: 200px;
    padding-bottom: 280px;
}

.about-us-h2{
    padding-top: 132px;
    padding-bottom: 50px;
}
.about-us-ul{
    display: flex;
    list-style: none;
    padding-bottom: 174px;
}
.about-us-li:not(:last-child){
    margin-right: 30px;
}
.about-us-img{
    width: 370px;
    height: 294px;
}
.our-team-h2{
    padding-bottom: 50px;
}
.our-team-ul{
    display: flex;
list-style: none;
padding-bottom: 154px;
}
.our-team-img{
    width: 270px;
    height: 260px;
    
}
.our-team-li:not(:last-child){
margin-right: 30px;
}
.our-team-h4{
    padding-right: 183px;
}
.our-team-p{
    padding-right: 162px;
}
.footer-ul{
    display: block;
    list-style: none;
}
.footer-address{
    padding-top: 20px;
    padding-bottom: 9px;
}

.footer-contact{
padding-top: 9px;
}

.hero-title {
    text-align: center;
}

.about-us-h2 {
    text-align: center;
}

.our-team-h2{
    text-align: center;
}
.advantages-ul{
    display: flex;
  list-style: none;
}
.advantages-title::before{
    content:"" ;
    background-image: url("./img/antenna1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  
}
.advantages-title2::before{
    content:"" ;
    background-image: url("./img/clock1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}
.advantages-title3::before{
    content:"" ;
    background-image: url("./img/diagram1\(2\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}
.advantages-title4::before{
    content:"" ;
    background-image: url("./img/astronaut1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}

.hero-button {
    display: block;
    width: 216px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--button);
    color: var(--title);
    border: none;
    outline: none;
    margin-top: 30px;
}

:root {
    --button: #2196F3;
    --title: #FFFFFF
}

.our-team-li {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}

.about-us-img {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}