.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  line-height: auto;
}

.header svg {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.email a:hover {
  color: #2196f3;
}

.email:hover svg {
  fill: #2196f3;
}

.phone_number a:hover {
  color: #2196f3;
}

.phone_number:hover svg {
  fill: #2196f3;
}

.advantages-ul {
  display: flex;
  list-style: none;
  padding-top: 94px;
}
.advantages-li:not(:last-child) {
  margin-right: 30px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: url("./img2/Img\(22\).webp");
  background-repeat: no-repeat;
  position: relative;
  width: 1238px;
}

.about-us-h2 {
  color: var(--chor);
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
}
.about-us-ul {
  display: flex;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  list-style: none;
  padding-bottom: 174px;
}

.div-text {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  flex-shrink: 0;
  padding: 27px;

  position: relative;
  bottom: 73px;
}

.div-text p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.about-us-li:not(:last-child) {
  margin-right: 30px;
}
.about-us-img {
  width: 370px;
  height: 294px;
}

.our-team {
  padding-top: 188px;
}

.our-team-h2 {
  padding-bottom: 50px;
}
.our-team-ul {
  display: flex;
  list-style: none;
  padding-bottom: 154px;
}
.our-team-img {
  width: 270px;
  height: 260px;
}
.our-team-li:not(:last-child) {
  margin-right: 30px;
}
.our-team-h4 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.our-team-p {
  display: flex;
  justify-content: center;
  color: var(--paraghraphs);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footer-ul {
  display: block;
  list-style: none;
}
.footer-address {
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-contact {
  padding-top: 9px;
}

.hero-title {
  text-align: center;
  color: var(--title);
}

.about-us-h2 {
  text-align: center;
}

.our-team-h2 {
  text-align: center;
}

.svg1 {
  content: "";
  background-image: url("./img/antenna1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
}
.svg2 {
  content: "";
  background-image: url("./img/clock1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
}
.svg3 {
  content: "";
  background-image: url("./img/diagram1\(2\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
}
.svg4 {
  content: "";
  background-image: url("./img/astronaut1\(1\).png");
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 100px;
}

.hero-button {
  display: block;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--button);
  color: var(--title);
  border: none;
  outline: none;
  margin-top: 30px;
  /* Button */

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  -webkit-animation: bounce-top 1s both;
  animation: bounce-top 1s both;
}

:root {
  --button: #2196f3;
  --title: #ffffff;
  --chor: #212121;
  --seriy: #757575;
  --beliy: #f5f4fa;
  --chornil: #000000;
  --charch: #2f303a;
  --sirom: #c4c4c4;
  --balni: #ececec;
}

.our-team-li {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.overlay {
  width: 100%;
  position: absolute;
  width: 1238px;
  height: 480px;
  left: 0px;
  top: 0px;

  background: rgba(47, 48, 58, 0.4);
  padding-top: 200px;
  /* Img Overlay */
}

.our-team {
  background-color: var(--beliy);
}

.footer {
  background-color: var(--charch);
}

.advantages-title {
  padding-top: 55px;
}
.advantages-title2 {
  padding-top: 55px;
}
.advantages-title3 {
  padding-top: 55px;
}
.advantages-title4 {
  padding-top: 55px;
}

.mail {
  width: 16px;
  height: 12px;
}

.ul-a {
  margin-right: 30px;
  margin-left: 10px;
}

.phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.ul-a2 {
  width: 122px;
  height: 16px;
}

.glub {
  display: flex;
  list-style: none;
}

.liop:not(:last-child) {
  margin-right: 40px;
}

.brows {
  width: 20px;
  height: 20px;
}

.us-ul {
  display: flex;
  list-style: none;
}

.klin {
  width: 106px;
  height: 60px;
}

.klin {
  margin-left: 94px;
}

.alw-users {
  text-align: center;
  padding-bottom: 44px;
}

.icons {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.icon:not(:last-child) {
  margin-right: 10px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.icon:hover svg {
  fill: #fff;
}
.icon:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.list-clients {
  display: flex;
  list-style: none;
}

.always-clients {
  text-align: center;
  margin-top: 94px;
}

.client {
  width: 170px;
  margin-top: 50px;
  text-align: center;
  border-top: 3px;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: #757575;
  margin-bottom: 94px;
}

.client:not(:last-child) {
  margin-right: 30px;
}
.client:hover svg {
  fill: #2196f3;
}
.client:hover {
  border-color: #2196f3;
}

.svgs {
  fill: #afb1b8;
  width: 170px;
  height: 92px;
}

.join {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  height: 10px;
}

.join-to {
  display: flex;
  align-items: center;
  margin-left: 156px;
  height: 200px;
}

.svgf {
  width: 20px;
  height: 20px;
}

.join-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.join-icons {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  width: 300px;
  list-style: none;
}
.join-icon:hover svg {
  fill: #fff;
}
.join-icon:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.join-icon:not(:last-child) {
  margin-right: 10px;
}
.div {
  display: flex;
}

.footer {
  height: 252px;
  background-color: #2f303a;
}

.info {
  display: flex;
}
.footer1 {
  margin-right: 70px;
}

.footer2 {
  margin-top: 72px;
  text-transform: uppercase;
}

.name-forfooter {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.svg-footer {
  width: 20px;
  height: 20px;
  stroke: #ffffff;
  fill: #ffffff;
}

.list-svg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-svg-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  list-style: none;
}

.item-svg-footer:hover {
  background-color: #2196f3;
}

.item-svg:hover svg {
  fill: #fff;
}

.footer-nav {
  padding-top: 60px;
}

.footer-nav-logo {
  color: var(--logo-colour);
  padding-bottom: 20px;
}

.footer-logo abbr {
  color: #fff;
  font-family: Raleway;
}

.footer-logo {
  list-style: none;
}

.footer-adress {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;

  padding-top: 9px;
  list-style: none;
}

.webh2 {
  color: #2196f3;
  font-family: Raleway;
}

.footer-adress a {
  color: #fff;
}

.footer-mail {
  padding-bottom: 9px;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  list-style: none;
}

.footer-mail a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-phone {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  list-style: none;
  width: 231px;
  padding-top: 9px;
  padding-bottom: 60px;
}

.footer-phone a {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.modal {
  width: 528px;
  height: 650px;
  flex-direction: row-reverse;

  position: relative;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  z-index: 20;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.close {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 1);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 1);
  -moz-box-shadow: 0px 4px 5px 0px rgba(186, 186, 186, 1);
}
.xz {
  width: 100px;
  height: 100px;
  background-color: green;
}
.p-modal {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.list-modal {
  flex-shrink: 0;
  list-style: none;
  padding-right: 40px;
  padding-left: 40px;
}
.input {
  width: 100%;
  padding: 10px 10px 10px 36px; /* зліва місце під іконку */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.KOMMENT {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.h3-modal {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}
.conditions {
  text-align: center;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.contract {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.p-modal:first-child {
  margin-top: 12px;
}
.div-button {
  display: flex;
  justify-content: center;
  width: 500px;
}
.button-modal {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 40px;
  border-style: none;
}
.button-modal:hover {
  cursor: pointer;
  background-color: #1976d2;
}
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}
.input-icon {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}
.input-field {
  width: 100%;
  padding: 10px 10px 10px 36px; /* зліва місце під іконку */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.p-subscribe {
  display: flex;
  align-items: center;
  height: 17px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.subscribe-div {
  display: flex;
  width: 300px;
  height: 200px;
  margin-right: 185px;
  margin-left: 290px;
  margin-bottom: 194px;
}
.subscribe-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
}
.subscribe-button:hover {
  cursor: pointer;
  background-color: #1976d2;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.div-flex {
  display: flex;
}

.div-p {
  margin-bottom: 20px;
}
.footer-3 {
  padding-top: 72px;
  margin-left: 93px;
}
.footer-input {
  width: 308px;
  height: 49px;
  border-color: #fff;
  background-color: #2f303a;
  color: #757575;
}
.footer3-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #fff;
}
.div-p {
  width: 207px;
  height: 16px;
  left: 815px;
  top: 2748px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.ab {
  position: relative;
  text-decoration: none;
  color: black;
}

.ab::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2196f3;
  display: none;
}

.ab:hover::after,
.ab.current::after {
  display: block;
}

.uio {
  margin-left: 28px;
  width: 110px;
  height: 30px;
  left: 1213px;
  top: 2794px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.plk {
  margin-left: 10px;
}

.ab {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ab:hover::after,
.ab:focus::after {
  transform: scaleX(1);
}

.brows {
  width: 24px;
  height: 24px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brows:hover,
.brows:focus {
  fill: #2196f3;
  transform: scale(1.1);
}

.svgs {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svgs:hover,
.svgs:focus {
  fill: #2196f3;
  transform: scale(1.1);
}

.svg-footer {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-footer:hover,
.svg-footer:focus {
  fill: #2196f3;
  transform: scale(1.1);
}

.item-svg-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.a:hover {
  color: #2196f3;
}

.flex {
  display: flex;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-a {
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
}

.Web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.Studio {
  color: var(--chornil);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.nav {
  display: flex;
}
.header-list {
  display: flex;
  list-style: none;
  margin-left: 92px;
  color: var(--charch);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  /* Активне посилання */
}

.ab {
  color: var(--chor);
  text-decoration: none;
}

.a {
  text-decoration: none;
}
.a:hover {
  cursor: pointer;
  color: #2196f3;
}
.phone {
  text-decoration: none;
}
.phone:hover {
  cursor: pointer;
  color: #2196f3;
}
.email {
  list-style: none;

  margin-right: 50px;
}

.header-svg:hover {
  cursor: pointer;
  color: #2196f3;
}

.phone_number {
  list-style: none;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}
.list-info {
  display: flex;
  margin-left: 344px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paraghraphs);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.hero-title {
  padding-top: 171px;
}

.header-svg {
  align-items: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-6 21:45:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
