%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%webstud1 {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
