%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%webstud1 {
  @media screen and (min-width: 768px) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 1200px) {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }
}

%advant-svg {
  width: 70px;
  height: 70px;
}

%standart-size {
  width: 20px;
  height: 20px;
}
