.list-clients {
  display: flex;
  list-style: none;
}

.always-clients {
  text-align: center;
  margin-top: 94px;
}

.client {
  width: 170px;
  margin-top: 50px;
  text-align: center;
  border-top: 3px;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: #757575;
  margin-bottom: 94px;
}

.client:not(:last-child) {
  margin-right: 30px;
}
.client:hover svg {
  fill: #2196f3;
}
.client:hover {
  border-color: #2196f3;
}

.svgs {
  fill: #afb1b8;
  width: 170px;
  height: 92px;
}
