.header {
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-svg {
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }

  fill: #757575;
}

.list-email a:hover {
  color: #2196f3;
}

.list-email:hover svg {
  fill: #2196f3;
}

.phone_number a:hover {
  color: #2196f3;
}

.phone_number:hover svg {
  fill: #2196f3;
}

// .list-email-link:hover {
//   color: #2196f3;
// }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-info {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 304px;
  }
}
.list-email {
  list-style: none;

  // margin-right: 50px;
}

.list-info {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.02em;

    color: #757575;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 333px;
    justify-content: space-between;
    margin-left: 344px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
}

.header-a {
  text-decoration: none;
  text-align: left;
}

.Web {
  color: $sale-heading;
  @extend %webstud1;
}
.Studio {
  color: #000000;
  @extend %webstud1;
}
.header-nav {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.header-list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 87px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 92px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
}

.header-list-link {
  color: #000000;
  text-decoration: none;
}

.list-email-link {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #2196f3;
  }
}
// .list-email-link:hover {
//   cursor: pointer;
//   color: #2196f3;
// }
.list-phone {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #2196f3;
  }
}
// .list-phone:hover {
//   cursor: pointer;
//   color: #2196f3;
// }

.header-svg:hover {
  cursor: pointer;
  color: #2196f3;
}

.phone_number {
  list-style: none;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.header-list-link {
  position: relative;
  display: inline-block;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover::after,
.header-list-link:focus::after {
  transform: scaleX(1);
}

.header-list-link {
  position: relative;
  text-decoration: none;
  color: black;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2196f3;
    display: none;
  }

  &:hover::after {
    display: block;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
// .header-list-link::after {
//   content: "";
//   position: absolute;
//   bottom: -2px;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background-color: #2196f3;
//   display: none;
// }

.header-list-link:hover::after,
.header-list-link.current::after {
  display: block;
}

.mobile-svg {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
  border: none;
  outline: none;
  background: none;
}

.svg-mobile {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
