.about-us-h2 {
  color: var(--chor);
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
}
.about-us-ul {
  display: flex;
  width: 370px;
  height: 294px;
  flex-shrink: 0;
  list-style: none;
  padding-bottom: 174px;
}

.about-us-li:not(:last-child) {
  margin-right: 30px;
}
.about-us-img {
  width: 370px;
  height: 294px;
}

.about-us {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
